<section class="home">
	<div class="menu col-md-12">
		<ul>
			<li><a href="#" class="active">
				<i class="material-icons">info_outline</i>
			</a></li>
			<li><a href="#">
				<i class="material-icons">person_outline</i>
			</a></li>
			<li><a href="#">
				<i class="material-icons">card_travel</i>
			</a></li>
			<li><a href="#">
				<i class="material-icons">content_paste</i>
			</a></li>
			<li><a href="#">
				<i class="material-icons">mail_outline</i>
			</a></li>
		</ul>
	</div>
	<div class="body">
		<!-- slide 1 -->
		<div class="active item slide-info animated bounceInDown">
			<div class="logo">
				<img src="images/favicon.png"/>
			</div>
			<div>
				<h3>Your designer and developer.</h3>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, <br>sed do eiusmod
				tempor incididunt ut labore et dolore magna aliqua. <br>Ut enim ad minim veniam,
				quis nostrud exercitation ullamco laboris nisi ut <br>aliquip ex ea commodo
				consequat.</p>
			</div>
			<div class="btns">
				<a href="portfolio" class="btn-blue">Portfolio</a>
				<a href="contacts" class="btn-white">Contacts</a>
			</div>
		</div>

		<!-- slide 2 -->
		<div class="col-xs-12 item slide-about animated bounceInDown">
			<div class="col-md-3 about-me-small">
				<div class="col-xs-12 foto">
					<div class="col-xs-12 foto-image	">
						<img src="images/jV899SZzJZ4.jpg"/>
					</div>
					<h3>[ volitilov ]</h3>
					<p>Developer & WebDesigner</p>
				</div>
			</div>
			<div class="col-md-9 about-me-big">
				<div class="about">
					<h5>About me:</h5>
					<div class="description">
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima numquam quos, fugiat libero delectus quis vero molestias ratione cum modi dignissimos ea magnam voluptatem voluptas provident! Quae optio, magnam dolorem.</p>
					</div>
				</div>
				<div class="experience">
					<h5>Experience:</h5>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
					quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
					consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
					cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
					proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
				</div>
				<div class="skills">
					<h5>Skills:</h5>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
					quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
					consequat.</p>
					<ul>
						<li>HTML</li>
						<li>CSS</li>
						<li>Less</li>
						<li>JS</li>
						<li>EJS</li>
						<li>Python</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</section>