<section>
	<div class="header">
		<p>Your designer and developer.</p>
	</div>

	<div class="menu">
		<ul class="animated bounceIn">
			<a href="about">
				<li>
					<div class="ic-about"></div>
					<div>
						<p>About me</p>
					</div>
				</li>
			</a>
			<a href="portfolio">
				<li>
					<div class="ic-portfolio"></div>
					<div>
						<p>Portfolio</p>
					</div>
				</li>
			</a>
			<a>
				<li>
					<div class="ic-projects"></div>
					<div>
						<p>Projects</p>
					</div>
				</li>
			</a>
			<a href="services">
				<li>
					<div class="ic-services"></div>
					<div>
						<p>Services</p>
					</div>
				</li>
			</a>
			<a>
				<li>
					<div class="ic-info"></div>
					<div>
						<p>Info</p>
					</div>
				</li>
			</a>
			<a href="contacts">
				<li>
					<div class="ic-contacts"></div>
					<div>
						<p>Contacts</p>
					</div>
				</li>
			</a>
		</ul>
	</div>
	<div class="col-xs-12 text-center body">
		<div class="col-xs-12">
			<h4>What makes us different from others ?</h4>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
		</div>
		<div class="col-xs-12 body-icons">
			<div class="col-xs-12 col-sm-6 col-md-3">
				<img src="/images/icon_less.svg" width="200" height="140" alt="LESS">
				<h5>LESS</h5>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
			</div>

			<div class="col-xs-12 col-sm-6 col-md-3">
				<img src="/images/icon_components.svg" width="200" height="140" alt="Components">
				<h5>Components</h5>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
			</div>

			<div class="col-xs-12 col-sm-6 col-md-3">
				<img src="/images/icon_themes.svg" width="200" height="140" alt="Themes">
				<h5>Customizer</h5>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
			</div>

			<div class="col-xs-12 col-sm-6 col-md-3">
				<img src="/images/icon_responsive.svg" width="200" height="140" alt="Responsive">
				<h5>Responsive</h5>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
			</div>
		</div>
	</div>
</section>
<% include components/_footer %>