<section>

	<div class="header">
		<!-- <img src="images/start-page.png"/> -->
		<h2>www.<font color="#02a8f3">volitilov</font>.com</h2>
		<p>Your designer and developer.</p>
	</div>

	<div class="menu">
		<ul>
			<a href="about">
				<li>
					<div class="ic-about"></div>
					<div>
						<p>About me</p>
					</div>
				</li>
			</a>
			<a href="portfolio">
				<li>
					<div class="ic-portfolio"></div>
					<div>
						<p>Portfolio</p>
					</div>
				</li>
			</a>
			<a href="#">
				<li>
					<div class="ic-projects"></div>
					<div>
						<p>Projects</p>
					</div>
				</li>
			</a>
			<a href="#">
				<li>
					<div class="ic-services"></div>
					<div>
						<p>Services</p>
					</div>
				</li>
			</a>
			<a href="#">
				<li>
					<div class="ic-info"></div>
					<div>
						<p>Info</p>
					</div>
				</li>
			</a>
			<a href="#">
				<li>
					<div class="ic-contacts"></div>
					<div>
						<p>Contacts</p>
					</div>
				</li>
			</a>
		</ul>
	</div>

	<div class="body">
		<!-- <img src="images/dribbble.gif"/> -->
	</div>
</section>