<section class="col-xs-12 home">
	<div class="menu col-md-2">
		<ul>
			<li><a href="#" class="active" title="Home">
				<span><img src="/images/foto.jpg"/></span>
				<span>
					<h3>voltilov</h3>
					<p>Web developer</p>
				</span>
			</a></li>
			<li><a href="#" title="About">
				<i class="material-icons">person_outline</i>
				<h5>About</h5>
			</a></li>
			<li><a href="#" title="Portfolio">
				<i class="material-icons">card_travel</i>
				<h5>Portfolio</h5>
			</a></li>
			<li><a href="#" title="Services">
				<i class="material-icons">content_paste</i>
				<h5>Services</h5>
			</a></li>
			<li><a href="#" title="Contacts">
				<i class="material-icons">mail_outline</i>
				<h5>Contacts</h5>
			</a></li>
			<li><a href="#" title="Info">
				<i class="material-icons">info_outline</i>
				<h5>Info</h5>
			</a></li>
		</ul>
	</div>
	<div class="body col-md-10">
		<!-- slide 1 -->
		<div class="col-xs-12 menu-item slide-home animated bounceInLeft active">
			<div class="logo">
				<img src="/images/startPage.png"/>
			</div>
			<div>
				<h3>Your web developer.</h3>
				<p>Разработка, доработка, дизайн, редизайн, поддержка персональных, 
				<br>корпаративных вебсайтов.</p>
			</div>
			<div class="btns">
				<a href="portfolio" class="btn-blue">Портфолио</a>
				<a href="contacts" class="btn-white">Контакты</a>
			</div>
		</div>

		<!-- slide 2 -->
		<div class="col-xs-12 menu-item slide-about animated bounceInLeft">
			<div class="col-md-3 about-me-small">
				<div class="col-xs-12 foto">
					<div class="col-xs-12 foto-image	">
						<img src="images/foto.jpg"/>
					</div>
					<h3>[ volitilov ]</h3>
					<p>Web developer</p>
				</div>
			</div>
			<div class="col-md-9 about-me-big">
				<div class="about">
					<h5>About me:</h5>
					<p>Люблю веб-разработку и всё, что с ней связано, а ещё люблю музыку — играю на гитаре. 
					Свободное время предпочитаю проводить с друзьями или за ноутбуком в поисках интересных 
					web решений.</p>
				</div>
				<div class="experience">
					<h5>Что умею.</h5>
					<p>Кроссбраузерно верстаю сайты — фиксированные, резиновые или адаптивные. Придумываю и 
					стилизую промежуточные состояния интерактивных элементов, если дизайнер их не нарисовал. 
					Добавляю анимации, если требуется оживить макет. Пишу скрипты для логики на стороне клиента. 
					Перед сдачей проекта оптимизирую производительность — сжимаю и склеиваю стили, 
					скрипты и картинки. Использую современные технологии. Пишу чистый и понятный код, который 
					легко поддерживать — это снижает стоимость будущих правок.</p>
				</div>
				<div class="skills">
					<h5>Skills:</h5>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
					quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
					consequat.</p>
					<ul>
						<li>HTML</li>
						<li>CSS</li>
						<li>Less</li>
						<li>JS</li>
						<li>EJS</li>
						<li>jQuery</li>
						<li>Python</li>
						<li>flask</li>
					</ul>
				</div>
			</div>
		</div>

		<!-- slide 3 -->
		<div class="col-xs-12 menu-item slide-portfolio animated bounceInLeft">
			<div class="col-md-12 widjet-carousel">
				<!-- Wrapper for slides -->
				<!-- <i class="scrollyeah__shadow scrollyeah__shadow_prev"></i> -->
				<div class="col-md-12 carousel-inner">
					<a href="#" class="item active animated bounceIn">
						<!-- <img src="/images/dribbble.gif" alt=""/> -->
						<img src="/images/startPage.png"/>
						<div class="carousel-caption"></div>
					</a>

					<a href="#" class="item animated bounceIn">
						<!-- <img src="/images/dribbble-particle-wave.gif" alt=""/> -->
						<img src="/images/small-image.png"/>
						<div class="carousel-caption"></div>
					</a>

					<a href="#" class="item animated bounceIn">
						<!-- <img src="/images/dribbble.gif" alt=""/> -->
						<div class="carousel-caption"></div>
					</a>
				</div>
				<!-- <i class="scrollyeah__shadow scrollyeah__shadow_next"></i> -->

				<!-- Controls -->
				<a class="left carousel-control" href="#" role="button">
					<span><i class="material-icons">chevron_left</i></span>
				</a>
				<a class="right carousel-control" href="#" role="button">
					<span><i class="material-icons">chevron_right</i></span>
				</a>

				<!-- Indicators -->
				<ol class="col-md-12 carousel-indicator">
					<li class="active"></li>
					<li></li>
					<li></li>
				</ol>
			</div>
		</div>

		<!-- slide 4 -->
		<div class="col-xs-12 menu-item slide-services animated bounceInLeft">
			<h3>Services:</h3>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
			quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
			consequat.</p>
			<ul>
				<li>Development and interface design</li>
				<li>Design mobile applications</li>
				<li>Development and design sites</li>
				<li>Optimizing websites</li>
				<li>Redesign</li>
				<li>Technical project support</li>
				<li>Responsive design</li>
				<li>Web animations</li>
			</ul>

			<h3>Как работаю</h3>
			<p>Уточнение требований, формирование понимания задачи → разделение проекта 
			на небольшие этапы → работа над одним из этапов → демонстрация результата → 
			внесение необходимых правок → утверждение и оплата этапа → работа над 
			следующим этапом.</p>
		</div>

		<!-- slide 5 -->
		<div class="col-xs-12 menu-item slide-contacts animated bounceInLeft">
			<div class="col-xs-12 icon">
				<a href="#" title="vk"><i class="fa fa-vk"></i></a>
				<a href="#" title="facebook"><i class="fa fa-facebook"></i></a>
				<a href="#" title="google-plus"><i class="fa fa-google-plus"></i></a>
				<a href="#" title="odnoklassniki"><i class="fa fa-odnoklassniki"></i></a>
				<a href="#"><i class="fa fa-twitter"></i></a>
			</div>
			<div class="col-xs-12 text-center or">
				<p>or</p>
			</div>
			<div class="col-xs-12 form-contacts">
				<form method="POST">
					<fieldset>
						<group>
							<label>
								<input class="alert" type="text" placeholder="name *" requred />
								<legend>name</legend>
							</label>
							<label>
								<input class="alert" type="text" placeholder="@ email address *" requred />
								<legend>email</legend>
							</label>
							<label>
								<input type="text" placeholder="websites" requred />
								<legend>websites</legend>
							</label>
						</group>
					</fieldset>
					<fieldset>
						<label>
							<textarea class="alert" rows="4" placeholder="text heare..." requred ></textarea>
						</label>
					</fieldset>
					<fieldset>
						<label>
							<button class="btn-blue" type="submit">submit</button>
						</label>
					</fieldset>
				</form>
			</div>
		</div>
	</div>
</section>