<section>

	<!-- <% include components/_face %> -->

	<div class="head">
		<img src="images/start-page.png"/>
	</div>

	<div class="menu">
		<ul>
			<li>
				<a href="#">
					<div class="ic-about"></div>
					<div>
						<p>About</p>
					</div>
				</a>
			</li>
			<li>
				<a href="#">
					<div class="ic-portfolio"></div>
					<div>
						<p>Portfolio</p>
					</div>
				</a>
			</li>
			<li>
				<a href="#">
					<div class="ic-projects"></div>
					<div>
						<p>Projects</p>
					</div>
				</a>
			</li>
			<li>
				<a href="#">
					<div class="ic-services"></div>
					<div>
						<p>Services</p>
					</div>
				</a>
			</li>
			<li>
				<a href="#">
					<div class="ic-info"></div>
					<div>
						<p>Info</p>
					</div>
				</a>
			</li>
			<li>
				<a href="#">
					<div class="ic-contacts"></div>
					<div>
						<p>Contacts</p>
					</div>
				</a>
			</li>
		</ul>
	</div>

	<div class="body">

	</div>
</section>