<% include components/head/_head-portfolio %>
<div class="col-md-12 block">
	<div class="col-xs-12 nav-tags">
		<ul>
			<li>
				<a class="active" href="/">All</a>
			</li>
			<li>
				<a href="/freebies/ui-kits">UI Kits</a>
			</li>
			<li>
				<a href="/freebies/icons">Icons</a>
			</li>
			<li>
				<a href="/freebies/mockups">Mockups</a>
			</li>
			<li>
				<a href="/freebies/widgets">Widgets</a>
			</li>
			<li>
				<a href="/freebies/wireframes">Wireframes</a>
			</li>
			<li>
				<a href="/freebies/templates">Templates</a>
			</li>
			<li>
				<a href="/freebies/illustrations">Illustrations</a>
			</li>
			<li>
				<a href="/freebies/themes">Themes</a>
			</li>
		</ul>
	</div>
	<div class="col-md-12 Slide carousel portfolio" data-interval="false">
		<div class="carousel-inner">
			<div class="item active">
				<div class="carousel-caption">
					<div class="col-xs-12 animated bounceInRight">
						<ul>
							<% include components/_state-active %>
							<% include components/_state-active %>
							<% include components/_state-active %>
							<% include components/_state-active %>
							<% include components/_state-active %>
							<% include components/_state-active %>
						</ul>
					</div>
				</div>
			</div>
			<div class="item">
				<div class="carousel-caption">
					<div class="col-xs-12 animated bounceInRight">
						<ul>
							<% include components/_state-active %>
							<% include components/_state-active %>
							<% include components/_state-active %>
							<% include components/_state-active %>
							<% include components/_state-active %>
							<% include components/_state-active %>
						</ul>
					</div>
				</div>
			</div>
			<div class="item">
				<div class="carousel-caption">
					<div class="col-xs-12 animated bounceInRight">
						<ul>
							<% include components/_state-active %>
							<% include components/_state-active %>
							<% include components/_state-active %>
							<% include components/_state-active %>
							<% include components/_state-active %>
							<% include components/_state-active %>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<a class="right carousel-control text-center" href=".Slide" role="button" data-slide="next">
			<span aria-hidden="true"><img class="animated fadeInRight infinite" src="/images/right.svg" /></span>
		</a>
	</div>
</div>
<% include components/_footer %>
