<% include components/head/_head-services %>
<div class="col-md-12 block services">
	<div class="col-xs-12 card animated bounceInDown">
		<div class="col-xs-12 mini-block">
			<div class="col-xs-3 block-left">
				<h5>Working with data</h5>
			</div>
			<div class="col-xs-9 block-right">
				<ul>
					<li>Big Data</li>
					<li>Data mining</li>
					<li>Machine learning</li>
					<li>Scalability</li>
				</ul>
				<ul>	
					<li>Storage</li>
					<li>SQL</li>
					<li>NoSQL</li>
					<li>Data analysis</li>
				</ul>
				<ul>	
					<li>Peer-to-Peer</li>
					<li>Highly loaded system</li>
					<li>Cloud computing</li>
					<li>Data compression</li>
				</ul>
				<ul>
					<li>Semantics</li>
				</ul>
			</div>
		</div>
		<div class="col-xs-12 mini-block">
			<div class="col-xs-3 block-left">
				<h5>Information security:</h5>
			</div>
			<div class="col-xs-9 block-right">
				<ul>
					<li>External security audit</li>
					<li>Internal security audit</li>
					<li>The source code audit</li>
					<li>Protection against attacks</li>
				</ul>
				<ul>
					<li>Cryptographic system</li>
					<li>Work with cryptocurrencies</li>
					<li>Data encryption</li>
					<li>Steganography</li>
				</ul>
				<ul>
					<li>Remediation</li>
					<li>Cryptanalysis</li>
					<li>Digital signature</li>
					<li>Anti-spam filters</li>
				</ul>
				<ul>
					<li>Captcha</li>
					<li>Creation of anonymity</li>
				</ul>
			</div>
		</div>
		<div class="col-xs-12 mini-block">
			<div class="col-xs-3 block-left">
				<h5>Support sites:</h5>
			</div>
			<div class="col-xs-9 block-right">
				<ul>
					<li>Support sites</li>
					<li>Modernization sites</li>
					<li>Site administration</li>
					<li>Redesign of sites</li>
				</ul>
			</div>
		</div>
		<div class="col-xs-12 mini-block">
			<div class="col-xs-3 block-left">
				<h5>Computing design:</h5>
			</div>
			<div class="col-xs-9 block-right">
				<ul>
					<li>Interface design</li>
					<li>Web layout</li>
					<li>Design (mobile applications)</li>
					<li>Concept art 2D</li>
				</ul>
				<ul>
					<li>Drawing characters</li>
					<li>Create backgrounds</li>
					<li>Рhoto job</li>
					<li>Mattle Painting</li>
				</ul>
				<ul>
					<li>Create skins</li>
					<li>Web design</li>
					<li>UI design</li>
					<li>Interface design</li>
				</ul>
				<ul>
					<li>Work with animation</li>
					<li>3D graphics</li>
					<li>Vector graphics</li>
				</ul>
			</div>
		</div>
		<div class="col-xs-12 mini-block">
			<div class="col-xs-3 block-left">
				<h5>Move:</h5>
			</div>
			<div class="col-xs-9 block-right">
				<ul>
					<li>Search promotion</li>
					<li>Search engine optimization</li>
					<li>Professional copywriting</li>
					<li>Site analysis</li>
				</ul>
				<ul>
					<li>Market analysis</li>
					<li>Advertising on the Internet</li>
				</ul>
			</div>
		</div>
		<div class="col-xs-12 mini-block">
			<div class="col-xs-3 block-left">
				<h5>Development:</h5>
			</div>
			<div class="col-xs-9 block-right">
				<ul>
					<li>Creating Web sites</li>
					<li>Web portal</li>
					<li>Application software</li>
					<li>Server software</li>
				</ul>
				<ul>
					<li>Mobile applications</li>
					<li>Game Development</li>
					<li>E-commerce</li>
					<li>Geographic services</li>
				</ul>
				<ul>
					<li>Highload system</li>
					<li>Browser Extension</li>
					<li>Client optimization</li>
					<li>Data Visualization</li>
				</ul>
				<ul>
					<li>Nesting letters</li>
					<li>Development IoT</li>
				</ul>
			</div>
		</div>
		<div class="col-xs-12 mini-block">
			<div class="col-xs-3 block-left">
				<h5>System management:</h5>
			</div>
			<div class="col-xs-9 block-right">
				<ul>
					<li>Virtualization</li>
					<li>Server optimization</li>
					<li>Mesh-networks</li>
					<li>Server administration</li>
				</ul>
				<ul>
					<li>Hosting</li>
				</ul>
			</div>
		</div>
		<div class="col-xs-12 mini-block x">
			<div class="col-xs-3 block-left">
				<h5>Translations:</h5>
			</div>
			<div class="col-xs-9 block-right">
				<ul>
					<li>Technical</li>
					<li>Medical</li>
					<li>Popular science</li>
					<li>Hudojestvennye</li>
				</ul>
				<ul>	
					<li>Advertising translation</li>
					<li>Transfers video</li>
					<li>Translation audio</li>
					<li>Legal translations</li>
				</ul>
			</div>
		</div>
	</div>
</div>
<% include components/_footer %>