<nav class="navbar navbar-default head">
	<div class="navbar-header">
		<div class="dop-bg">
			<button type="button" class="navbar-toggle collapsed animated pulse infinite" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
				<span class="sr-only">Toggle navigation</span>
			</button>
		</div>
		<a href="/" class="navbar-brand">
			<ul>
				<li class="text-center"><img src="/images/favicon.png"></li>
				<li>volitilov</li>
			</ul>
		</a>
	</div>

	<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
		<ul class="nav navbar-nav menu-icons">
			<li><a href="about" title="about"><img src="/images/icons/about/about-grey.svg"/></a></li>
			<li><a title="portfolio"><img src="/images/icons/portfolio/portfolio-white.svg"/></a></li>
			<li><a href="projects" title="projects"><img src="/images/icons/projects/projects-grey.svg"/></a></li>
			<li><a href="services" title="services"><img src="/images/icons/services/services-grey.svg"/></a></li>
			<li><a href="info" title="info"><img src="/images/icons/info/info-grey.svg"/></a></li>
		</ul>
		<p class="navbar-text">Portfolio</p>
		<ul class="nav navbar-nav navbar-right">
			<li>
				<form action="search-page" method="POST">
					<input type="text" placeholder="search sites" required/>
				</form>
			</li>
			<li class="contacts"><a href="contacts" title="contacts">Contacts</a></li>
		</ul>
	</div>
</nav>