<footer>
	<div class="col-xs-12 footer">
		<div class="col-xs-12 footer-head">
			<ul>
				<li><img src="/images/favicon.png"/></li>
				<li class="x">volitilov<font color="#000">.com</font></li>
			</ul>
		</div>
		<div class="col-xs-12 footer-body">
			<ul>
				<li>
					<div class="col-xs-12 col-md-3 follow">
						<h4>Foollow <strong><font color="#02a8f3">me</font></strong></h4>
						<p>Get notified when we release new web templates.</p>
						<ul>
							<li><a href="#"><i class="fa fa-facebook"></i></a></li>
							<li><a href="#"><i class="fa fa-vk"></i></a></li>
							<li><a href="#"><i class="fa fa-twitter"></i></a></li>
							<li><a href="#"><i class="fa fa-odnoklassniki"></i></a></li>
							<li><a href="#"><i class="fa fa-instagram"></i></a></li>
							<li><a href="#"><i class="fa fa-google-plus"></i></a></li>
							<li><a href="#"><i class="fa fa-codepen"></i></a></li>
							<li><a href="#"><i class="fa fa-behance"></i></a></li>
							<li><a href="#"><i class="fa fa-pinterest"></i></a></li>
							<li><a href="#"><i class="fa fa-youtube"></i></a></li>
						</ul>
					</div>
				</li>
				<li>
					<div class="col-xs-12 col-sm-6 col-md-3 sitemap">
						<h4>Sitemap</h4>
						<ul class="col-md-6">
							<li><a href="/">Home</a></li>
							<li><a href="about">About</a></li>
							<li><a href="portfolio">Portfolio</a></li>
							<li><a href="projects">Projects</a></li>
							<li><a href="services">Services</a></li>
							<li><a href="info">Info</a></li>
						</ul>
						<ul class="col-md-6 x">
							<li><a href="#">Partnership</a></li>
							<li><a href="/contacts">Contact</a></li>
							
						</ul>
					</div>
				</li>
				<li>
					<div class="col-xs-12 col-sm-6 col-md-3 popular">
						<h4>Popular Projects</h4>
						<ul>
							<li><a href="#">Project 1</a></li>
							<li><a href="#">Project 2</a></li>
							<li><a href="#">Project 3</a></li>
							<li><a href="#">Project 4</a></li>
						</ul>
					</div>
				</li>
				<li>
					<div class="col-xs-12 col-sm-6 col-md-3 also">
						<h4>Best works:</h4>
						<ul>
							<li><a href="#">Best work 1</a></li>
							<li><a href="#">Best work 2</a></li>
							<li><a href="#">Best work 3</a></li>
						</ul>
					</div>
				</li>
			</ul>
		</div>
		<div class="col-xs-12 footer-copyright">
			<div class="col-xs-12 col-md-6 copyright">
				<p>Copyright  © 2016. All Rights Reserved.</p>
			</div>
			<div class="col-xs-12 col-md-6 language">
				<ul>
					<li class="x"><a>eng</a></li>
					<li><a href="#">rus</a></li>
					<li><a href="#">fra</a></li>
					<li><a href="#">deu</a></li>
					<li><a href="#">ita</a></li>
				</ul>
			</div>
		</div>
	</div>
</footer>