<div class="col-xs-12 animated bounceInRight portfolio-item">
	<ul>
		<li class="col-md-4 col-sm-6 state-active">
			<a href="#">
				<div class="media freebie-object">
					<div class="freebie-image">
						<img alt="Snapfixx Landing Page Template[PSD] preview picture" class="media-object freebie-preview" src="https://epic-pxls.s3.amazonaws.com/uploads/photo/88b4de8091673591ba7af36d6cf0a12b.png"/>
					</div>
					<div class="media-body freebie-body">
						<h3 class="freebie-name">Snapfixx Landing Page</h3>
						<p class="freebie-description">This freebie is a simple and minimal design landing page PSD template. You can easily customise the template according to your needs to create the ...</p>
						<div class="freebie-actions">
							<span class="freebie-action inline-icon">

								<svg xmlns="http://www.w3.org/2000/svg" version="1.1" id="Layer_1" x="0px" y="0px" width="18px" height="18px" viewBox="0 0 18 18" class="pxlton" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve">
								<path d="M12.5,4C13.879,4,15,5.346,15,7c0,3.154-3.818,5.713-6,6.801C6.816,12.711,3,10.152,3,7  c0-1.654,1.122-3,2.5-3c1.078,0,2.691,2.062,2.691,2.062c0.399,0.549,1.218,0.549,1.618,0C9.809,6.062,11.266,4,12.5,4 M12.5,2  C11.086,2,9.824,2.866,9,4C8.175,2.866,6.915,2,5.5,2C3.015,2,1,4.238,1,7c0,5.719,8,9,8,9s8-3.281,8-9C17,4.238,14.984,2,12.5,2  L12.5,2z"></path>
								</svg>

								<span>1</span>
							</span>
							<span class="freebie-action inline-icon">

								<svg xmlns="http://www.w3.org/2000/svg" version="1.1" id="Layer_1" x="0px" y="0px" width="18px" height="18px" viewBox="0 0 18 18" class="pxlton" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve">
								<path id="Fill-1" d="M10,14.156l1.293-1.356c0.402-0.399,1.004-0.399,1.406,0c0.4,0.399,0.4,1,0,1.399l-3.012,3  C9.486,17.4,9.186,17.5,8.984,17.5s-0.502-0.1-0.703-0.301l-3.011-3c-0.401-0.399-0.401-1,0-1.399c0.402-0.399,1.003-0.399,1.406,0  L8,14.125V8.5c0-0.6,0.383-1,0.984-1S10,7.9,10,8.5V14.156z M6.471,3.788C7.323,1.854,9.251,0.5,11.5,0.5C14.538,0.5,17,2.963,17,6  c0,2.866-2.2,5.193-5,5.449V9.5c0,0-0.008-0.044,0.257-0.082c0.054-0.007,0.103-0.024,0.154-0.038C13.902,8.979,15,7.618,15,6  c0-1.933-1.566-3.5-3.5-3.5c-1.807,0-3.277,1.375-3.463,3.133c0,0-0.066,0.566-0.59,0.743C6.818,6.589,6.421,6.094,6.421,6.094  C6.059,5.728,5.557,5.5,5,5.5c-1.104,0-2,0.896-2,2c0,1.105,0.896,2,2,2h1v2H5c-2.209,0-4-1.791-4-4s1.791-4,4-4L6.471,3.788z"></path>
								</svg>

								<span>2</span>
							</span>
							<span class="freebie-action inline-icon">

								<svg xmlns="http://www.w3.org/2000/svg" version="1.1" id="Layer_1" x="0px" y="0px" width="18px" height="18px" viewBox="0 0 18 18" class="pxlton" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve">
								<path d="M9,2C5.737,2,2.475,4.333,0,9c2.475,4.667,5.737,7,9,7c3.264,0,6.525-2.332,9-7C15.525,4.333,12.264,2,9,2  L9,2z M9,14c-2.372,0-4.779-1.809-6.703-5C4.221,5.809,6.628,4,9,4s4.779,1.809,6.703,5C13.779,12.191,11.372,14,9,14L9,14z M9,6  C7.343,6,6,7.343,6,9c0,1.658,1.343,3,3,3s3-1.342,3-3C12,7.343,10.657,6,9,6L9,6z M9,10c-0.553,0-1-0.447-1-1c0-0.553,0.447-1,1-1  c0.553,0,1,0.447,1,1C10,9.553,9.553,10,9,10L9,10z"></path>
								</svg>

								<span>141</span>
							</span>
						</div>
					</div>
				</div>
			</a>
		</li>

		<li class="col-md-4 col-sm-6 state-active">
			<a href="#">
				<div class="media freebie-object">
					<div class="freebie-image">
						<img alt="OS8 Style iPhone App UI preview picture" class="media-object freebie-preview" src="https://epic-pxls.s3.amazonaws.com/uploads/photo/503ad7f246bdb7b05a949da8308aad36.png"/>
					</div>
					<div class="media-body freebie-body">
						<h3 class="freebie-name">OS8 Style iPhone App UI</h3>
						<p class="freebie-description">The OS8 Style iPhone App UI includes 9 PSD files, all well organised into layers and groups. This free, flat design UI kit with vector icons, butto...</p>
						<div class="freebie-actions">
							<span class="freebie-action inline-icon">

								<svg xmlns="http://www.w3.org/2000/svg" version="1.1" id="Layer_1" x="0px" y="0px" width="18px" height="18px" viewBox="0 0 18 18" class="pxlton" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve">
								<path d="M12.5,4C13.879,4,15,5.346,15,7c0,3.154-3.818,5.713-6,6.801C6.816,12.711,3,10.152,3,7  c0-1.654,1.122-3,2.5-3c1.078,0,2.691,2.062,2.691,2.062c0.399,0.549,1.218,0.549,1.618,0C9.809,6.062,11.266,4,12.5,4 M12.5,2  C11.086,2,9.824,2.866,9,4C8.175,2.866,6.915,2,5.5,2C3.015,2,1,4.238,1,7c0,5.719,8,9,8,9s8-3.281,8-9C17,4.238,14.984,2,12.5,2  L12.5,2z"></path>
								</svg>

								<span>0</span>
							</span>
							<span class="freebie-action inline-icon">

								<svg xmlns="http://www.w3.org/2000/svg" version="1.1" id="Layer_1" x="0px" y="0px" width="18px" height="18px" viewBox="0 0 18 18" class="pxlton" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve">
								<path id="Fill-1" d="M10,14.156l1.293-1.356c0.402-0.399,1.004-0.399,1.406,0c0.4,0.399,0.4,1,0,1.399l-3.012,3  C9.486,17.4,9.186,17.5,8.984,17.5s-0.502-0.1-0.703-0.301l-3.011-3c-0.401-0.399-0.401-1,0-1.399c0.402-0.399,1.003-0.399,1.406,0  L8,14.125V8.5c0-0.6,0.383-1,0.984-1S10,7.9,10,8.5V14.156z M6.471,3.788C7.323,1.854,9.251,0.5,11.5,0.5C14.538,0.5,17,2.963,17,6  c0,2.866-2.2,5.193-5,5.449V9.5c0,0-0.008-0.044,0.257-0.082c0.054-0.007,0.103-0.024,0.154-0.038C13.902,8.979,15,7.618,15,6  c0-1.933-1.566-3.5-3.5-3.5c-1.807,0-3.277,1.375-3.463,3.133c0,0-0.066,0.566-0.59,0.743C6.818,6.589,6.421,6.094,6.421,6.094  C6.059,5.728,5.557,5.5,5,5.5c-1.104,0-2,0.896-2,2c0,1.105,0.896,2,2,2h1v2H5c-2.209,0-4-1.791-4-4s1.791-4,4-4L6.471,3.788z"></path>
								</svg>

								<span>7</span>
							</span>
							<span class="freebie-action inline-icon">

								<svg xmlns="http://www.w3.org/2000/svg" version="1.1" id="Layer_1" x="0px" y="0px" width="18px" height="18px" viewBox="0 0 18 18" class="pxlton" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve">
								<path d="M9,2C5.737,2,2.475,4.333,0,9c2.475,4.667,5.737,7,9,7c3.264,0,6.525-2.332,9-7C15.525,4.333,12.264,2,9,2  L9,2z M9,14c-2.372,0-4.779-1.809-6.703-5C4.221,5.809,6.628,4,9,4s4.779,1.809,6.703,5C13.779,12.191,11.372,14,9,14L9,14z M9,6  C7.343,6,6,7.343,6,9c0,1.658,1.343,3,3,3s3-1.342,3-3C12,7.343,10.657,6,9,6L9,6z M9,10c-0.553,0-1-0.447-1-1c0-0.553,0.447-1,1-1  c0.553,0,1,0.447,1,1C10,9.553,9.553,10,9,10L9,10z"></path>
								</svg>

								<span>214</span>
							</span>
						</div>
					</div>
				</div>
			</a>
		</li>

		<li class="col-md-4 col-sm-6 state-active">
			<a href="#">
				<div class="media freebie-object">
					<div class="freebie-image">
						<img alt="Jobbor Basic App UI Kit preview picture" class="media-object freebie-preview" src="https://epic-pxls.s3.amazonaws.com/uploads/photo/57cf184019e1064fbc08b2c7e2345727.png"/>
					</div>
					<div class="media-body freebie-body">
						<h3 class="freebie-name">Jobbor Basic App UI Kit</h3>
						<p class="freebie-description">This freebie is a mobile app UI kit in PSD format. It comes with 9 basic screens that can be useful in your app UI design project. The Photoshop fi...</p>
						<div class="freebie-actions">
							<span class="freebie-action inline-icon">

								<svg xmlns="http://www.w3.org/2000/svg" version="1.1" id="Layer_1" x="0px" y="0px" width="18px" height="18px" viewBox="0 0 18 18" class="pxlton" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve">
								<path d="M12.5,4C13.879,4,15,5.346,15,7c0,3.154-3.818,5.713-6,6.801C6.816,12.711,3,10.152,3,7  c0-1.654,1.122-3,2.5-3c1.078,0,2.691,2.062,2.691,2.062c0.399,0.549,1.218,0.549,1.618,0C9.809,6.062,11.266,4,12.5,4 M12.5,2  C11.086,2,9.824,2.866,9,4C8.175,2.866,6.915,2,5.5,2C3.015,2,1,4.238,1,7c0,5.719,8,9,8,9s8-3.281,8-9C17,4.238,14.984,2,12.5,2  L12.5,2z"></path>
								</svg>

								<span>1</span>
							</span>
							<span class="freebie-action inline-icon">

								<svg xmlns="http://www.w3.org/2000/svg" version="1.1" id="Layer_1" x="0px" y="0px" width="18px" height="18px" viewBox="0 0 18 18" class="pxlton" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve">
								<path id="Fill-1" d="M10,14.156l1.293-1.356c0.402-0.399,1.004-0.399,1.406,0c0.4,0.399,0.4,1,0,1.399l-3.012,3  C9.486,17.4,9.186,17.5,8.984,17.5s-0.502-0.1-0.703-0.301l-3.011-3c-0.401-0.399-0.401-1,0-1.399c0.402-0.399,1.003-0.399,1.406,0  L8,14.125V8.5c0-0.6,0.383-1,0.984-1S10,7.9,10,8.5V14.156z M6.471,3.788C7.323,1.854,9.251,0.5,11.5,0.5C14.538,0.5,17,2.963,17,6  c0,2.866-2.2,5.193-5,5.449V9.5c0,0-0.008-0.044,0.257-0.082c0.054-0.007,0.103-0.024,0.154-0.038C13.902,8.979,15,7.618,15,6  c0-1.933-1.566-3.5-3.5-3.5c-1.807,0-3.277,1.375-3.463,3.133c0,0-0.066,0.566-0.59,0.743C6.818,6.589,6.421,6.094,6.421,6.094  C6.059,5.728,5.557,5.5,5,5.5c-1.104,0-2,0.896-2,2c0,1.105,0.896,2,2,2h1v2H5c-2.209,0-4-1.791-4-4s1.791-4,4-4L6.471,3.788z"></path>
								</svg>

								<span>2</span>
							</span>
							<span class="freebie-action inline-icon">

								<svg xmlns="http://www.w3.org/2000/svg" version="1.1" id="Layer_1" x="0px" y="0px" width="18px" height="18px" viewBox="0 0 18 18" class="pxlton" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve">
								<path d="M9,2C5.737,2,2.475,4.333,0,9c2.475,4.667,5.737,7,9,7c3.264,0,6.525-2.332,9-7C15.525,4.333,12.264,2,9,2  L9,2z M9,14c-2.372,0-4.779-1.809-6.703-5C4.221,5.809,6.628,4,9,4s4.779,1.809,6.703,5C13.779,12.191,11.372,14,9,14L9,14z M9,6  C7.343,6,6,7.343,6,9c0,1.658,1.343,3,3,3s3-1.342,3-3C12,7.343,10.657,6,9,6L9,6z M9,10c-0.553,0-1-0.447-1-1c0-0.553,0.447-1,1-1  c0.553,0,1,0.447,1,1C10,9.553,9.553,10,9,10L9,10z"></path>
								</svg>

								<span>167</span>
							</span>
						</div>
					</div>
				</div>
			</a>
		</li>

		<li class="col-md-4 col-sm-6 state-active">
			<a href="#">
				<div class="media freebie-object">
					<div class="freebie-image">
						<img alt="Snapfixx Landing Page Template[PSD] preview picture" class="media-object freebie-preview" src="https://epic-pxls.s3.amazonaws.com/uploads/photo/88b4de8091673591ba7af36d6cf0a12b.png"/>
					</div>
					<div class="media-body freebie-body">
						<h3 class="freebie-name">Snapfixx Landing Page</h3>
						<p class="freebie-description">This freebie is a simple and minimal design landing page PSD template. You can easily customise the template according to your needs to create the ...</p>
						<div class="freebie-actions">
							<span class="freebie-action inline-icon">

								<svg xmlns="http://www.w3.org/2000/svg" version="1.1" id="Layer_1" x="0px" y="0px" width="18px" height="18px" viewBox="0 0 18 18" class="pxlton" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve">
								<path d="M12.5,4C13.879,4,15,5.346,15,7c0,3.154-3.818,5.713-6,6.801C6.816,12.711,3,10.152,3,7  c0-1.654,1.122-3,2.5-3c1.078,0,2.691,2.062,2.691,2.062c0.399,0.549,1.218,0.549,1.618,0C9.809,6.062,11.266,4,12.5,4 M12.5,2  C11.086,2,9.824,2.866,9,4C8.175,2.866,6.915,2,5.5,2C3.015,2,1,4.238,1,7c0,5.719,8,9,8,9s8-3.281,8-9C17,4.238,14.984,2,12.5,2  L12.5,2z"></path>
								</svg>

								<span>1</span>
							</span>
							<span class="freebie-action inline-icon">

								<svg xmlns="http://www.w3.org/2000/svg" version="1.1" id="Layer_1" x="0px" y="0px" width="18px" height="18px" viewBox="0 0 18 18" class="pxlton" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve">
								<path id="Fill-1" d="M10,14.156l1.293-1.356c0.402-0.399,1.004-0.399,1.406,0c0.4,0.399,0.4,1,0,1.399l-3.012,3  C9.486,17.4,9.186,17.5,8.984,17.5s-0.502-0.1-0.703-0.301l-3.011-3c-0.401-0.399-0.401-1,0-1.399c0.402-0.399,1.003-0.399,1.406,0  L8,14.125V8.5c0-0.6,0.383-1,0.984-1S10,7.9,10,8.5V14.156z M6.471,3.788C7.323,1.854,9.251,0.5,11.5,0.5C14.538,0.5,17,2.963,17,6  c0,2.866-2.2,5.193-5,5.449V9.5c0,0-0.008-0.044,0.257-0.082c0.054-0.007,0.103-0.024,0.154-0.038C13.902,8.979,15,7.618,15,6  c0-1.933-1.566-3.5-3.5-3.5c-1.807,0-3.277,1.375-3.463,3.133c0,0-0.066,0.566-0.59,0.743C6.818,6.589,6.421,6.094,6.421,6.094  C6.059,5.728,5.557,5.5,5,5.5c-1.104,0-2,0.896-2,2c0,1.105,0.896,2,2,2h1v2H5c-2.209,0-4-1.791-4-4s1.791-4,4-4L6.471,3.788z"></path>
								</svg>

								<span>2</span>
							</span>
							<span class="freebie-action inline-icon">

								<svg xmlns="http://www.w3.org/2000/svg" version="1.1" id="Layer_1" x="0px" y="0px" width="18px" height="18px" viewBox="0 0 18 18" class="pxlton" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve">
								<path d="M9,2C5.737,2,2.475,4.333,0,9c2.475,4.667,5.737,7,9,7c3.264,0,6.525-2.332,9-7C15.525,4.333,12.264,2,9,2  L9,2z M9,14c-2.372,0-4.779-1.809-6.703-5C4.221,5.809,6.628,4,9,4s4.779,1.809,6.703,5C13.779,12.191,11.372,14,9,14L9,14z M9,6  C7.343,6,6,7.343,6,9c0,1.658,1.343,3,3,3s3-1.342,3-3C12,7.343,10.657,6,9,6L9,6z M9,10c-0.553,0-1-0.447-1-1c0-0.553,0.447-1,1-1  c0.553,0,1,0.447,1,1C10,9.553,9.553,10,9,10L9,10z"></path>
								</svg>

								<span>141</span>
							</span>
						</div>
					</div>
				</div>
			</a>
		</li>

		<li class="col-md-4 col-sm-6 state-active">
			<a href="#">
				<div class="media freebie-object">
					<div class="freebie-image">
						<img alt="OS8 Style iPhone App UI preview picture" class="media-object freebie-preview" src="https://epic-pxls.s3.amazonaws.com/uploads/photo/503ad7f246bdb7b05a949da8308aad36.png"/>
					</div>
					<div class="media-body freebie-body">
						<h3 class="freebie-name">OS8 Style iPhone App UI</h3>
						<p class="freebie-description">The OS8 Style iPhone App UI includes 9 PSD files, all well organised into layers and groups. This free, flat design UI kit with vector icons, butto...</p>
						<div class="freebie-actions">
							<span class="freebie-action inline-icon">

								<svg xmlns="http://www.w3.org/2000/svg" version="1.1" id="Layer_1" x="0px" y="0px" width="18px" height="18px" viewBox="0 0 18 18" class="pxlton" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve">
								<path d="M12.5,4C13.879,4,15,5.346,15,7c0,3.154-3.818,5.713-6,6.801C6.816,12.711,3,10.152,3,7  c0-1.654,1.122-3,2.5-3c1.078,0,2.691,2.062,2.691,2.062c0.399,0.549,1.218,0.549,1.618,0C9.809,6.062,11.266,4,12.5,4 M12.5,2  C11.086,2,9.824,2.866,9,4C8.175,2.866,6.915,2,5.5,2C3.015,2,1,4.238,1,7c0,5.719,8,9,8,9s8-3.281,8-9C17,4.238,14.984,2,12.5,2  L12.5,2z"></path>
								</svg>

								<span>0</span>
							</span>
							<span class="freebie-action inline-icon">

								<svg xmlns="http://www.w3.org/2000/svg" version="1.1" id="Layer_1" x="0px" y="0px" width="18px" height="18px" viewBox="0 0 18 18" class="pxlton" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve">
								<path id="Fill-1" d="M10,14.156l1.293-1.356c0.402-0.399,1.004-0.399,1.406,0c0.4,0.399,0.4,1,0,1.399l-3.012,3  C9.486,17.4,9.186,17.5,8.984,17.5s-0.502-0.1-0.703-0.301l-3.011-3c-0.401-0.399-0.401-1,0-1.399c0.402-0.399,1.003-0.399,1.406,0  L8,14.125V8.5c0-0.6,0.383-1,0.984-1S10,7.9,10,8.5V14.156z M6.471,3.788C7.323,1.854,9.251,0.5,11.5,0.5C14.538,0.5,17,2.963,17,6  c0,2.866-2.2,5.193-5,5.449V9.5c0,0-0.008-0.044,0.257-0.082c0.054-0.007,0.103-0.024,0.154-0.038C13.902,8.979,15,7.618,15,6  c0-1.933-1.566-3.5-3.5-3.5c-1.807,0-3.277,1.375-3.463,3.133c0,0-0.066,0.566-0.59,0.743C6.818,6.589,6.421,6.094,6.421,6.094  C6.059,5.728,5.557,5.5,5,5.5c-1.104,0-2,0.896-2,2c0,1.105,0.896,2,2,2h1v2H5c-2.209,0-4-1.791-4-4s1.791-4,4-4L6.471,3.788z"></path>
								</svg>

								<span>7</span>
							</span>
							<span class="freebie-action inline-icon">

								<svg xmlns="http://www.w3.org/2000/svg" version="1.1" id="Layer_1" x="0px" y="0px" width="18px" height="18px" viewBox="0 0 18 18" class="pxlton" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve">
								<path d="M9,2C5.737,2,2.475,4.333,0,9c2.475,4.667,5.737,7,9,7c3.264,0,6.525-2.332,9-7C15.525,4.333,12.264,2,9,2  L9,2z M9,14c-2.372,0-4.779-1.809-6.703-5C4.221,5.809,6.628,4,9,4s4.779,1.809,6.703,5C13.779,12.191,11.372,14,9,14L9,14z M9,6  C7.343,6,6,7.343,6,9c0,1.658,1.343,3,3,3s3-1.342,3-3C12,7.343,10.657,6,9,6L9,6z M9,10c-0.553,0-1-0.447-1-1c0-0.553,0.447-1,1-1  c0.553,0,1,0.447,1,1C10,9.553,9.553,10,9,10L9,10z"></path>
								</svg>

								<span>214</span>
							</span>
						</div>
					</div>
				</div>
			</a>
		</li>

		<li class="col-md-4 col-sm-6 state-active">
			<a href="#">
				<div class="media freebie-object">
					<div class="freebie-image">
						<img alt="Jobbor Basic App UI Kit preview picture" class="media-object freebie-preview" src="https://epic-pxls.s3.amazonaws.com/uploads/photo/57cf184019e1064fbc08b2c7e2345727.png"/>
					</div>
					<div class="media-body freebie-body">
						<h3 class="freebie-name">Jobbor Basic App UI Kit</h3>
						<p class="freebie-description">This freebie is a mobile app UI kit in PSD format. It comes with 9 basic screens that can be useful in your app UI design project. The Photoshop fi...</p>
						<div class="freebie-actions">
							<span class="freebie-action inline-icon">

								<svg xmlns="http://www.w3.org/2000/svg" version="1.1" id="Layer_1" x="0px" y="0px" width="18px" height="18px" viewBox="0 0 18 18" class="pxlton" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve">
								<path d="M12.5,4C13.879,4,15,5.346,15,7c0,3.154-3.818,5.713-6,6.801C6.816,12.711,3,10.152,3,7  c0-1.654,1.122-3,2.5-3c1.078,0,2.691,2.062,2.691,2.062c0.399,0.549,1.218,0.549,1.618,0C9.809,6.062,11.266,4,12.5,4 M12.5,2  C11.086,2,9.824,2.866,9,4C8.175,2.866,6.915,2,5.5,2C3.015,2,1,4.238,1,7c0,5.719,8,9,8,9s8-3.281,8-9C17,4.238,14.984,2,12.5,2  L12.5,2z"></path>
								</svg>

								<span>1</span>
							</span>
							<span class="freebie-action inline-icon">

								<svg xmlns="http://www.w3.org/2000/svg" version="1.1" id="Layer_1" x="0px" y="0px" width="18px" height="18px" viewBox="0 0 18 18" class="pxlton" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve">
								<path id="Fill-1" d="M10,14.156l1.293-1.356c0.402-0.399,1.004-0.399,1.406,0c0.4,0.399,0.4,1,0,1.399l-3.012,3  C9.486,17.4,9.186,17.5,8.984,17.5s-0.502-0.1-0.703-0.301l-3.011-3c-0.401-0.399-0.401-1,0-1.399c0.402-0.399,1.003-0.399,1.406,0  L8,14.125V8.5c0-0.6,0.383-1,0.984-1S10,7.9,10,8.5V14.156z M6.471,3.788C7.323,1.854,9.251,0.5,11.5,0.5C14.538,0.5,17,2.963,17,6  c0,2.866-2.2,5.193-5,5.449V9.5c0,0-0.008-0.044,0.257-0.082c0.054-0.007,0.103-0.024,0.154-0.038C13.902,8.979,15,7.618,15,6  c0-1.933-1.566-3.5-3.5-3.5c-1.807,0-3.277,1.375-3.463,3.133c0,0-0.066,0.566-0.59,0.743C6.818,6.589,6.421,6.094,6.421,6.094  C6.059,5.728,5.557,5.5,5,5.5c-1.104,0-2,0.896-2,2c0,1.105,0.896,2,2,2h1v2H5c-2.209,0-4-1.791-4-4s1.791-4,4-4L6.471,3.788z"></path>
								</svg>

								<span>2</span>
							</span>
							<span class="freebie-action inline-icon">

								<svg xmlns="http://www.w3.org/2000/svg" version="1.1" id="Layer_1" x="0px" y="0px" width="18px" height="18px" viewBox="0 0 18 18" class="pxlton" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve">
								<path d="M9,2C5.737,2,2.475,4.333,0,9c2.475,4.667,5.737,7,9,7c3.264,0,6.525-2.332,9-7C15.525,4.333,12.264,2,9,2  L9,2z M9,14c-2.372,0-4.779-1.809-6.703-5C4.221,5.809,6.628,4,9,4s4.779,1.809,6.703,5C13.779,12.191,11.372,14,9,14L9,14z M9,6  C7.343,6,6,7.343,6,9c0,1.658,1.343,3,3,3s3-1.342,3-3C12,7.343,10.657,6,9,6L9,6z M9,10c-0.553,0-1-0.447-1-1c0-0.553,0.447-1,1-1  c0.553,0,1,0.447,1,1C10,9.553,9.553,10,9,10L9,10z"></path>
								</svg>

								<span>167</span>
							</span>
						</div>
					</div>
				</div>
			</a>
		</li>
	</ul>
</div>