/////////////////////////////////////////// defaul devices mobile
.head {
	z-index: 999 !important;
	background-color: transparent;
	text-align: center;
	-webkit-box-shadow: 0px 6px 15px -5px rgba(0,0,0,0.3);
		-moz-box-shadow: 0px 6px 15px -5px rgba(0,0,0,0.3);
			box-shadow: 0px 6px 15px -5px rgba(0,0,0,0.3);
	img {
		width: 15%;
		height: auto;
	}
}
.menu {
	margin: 0px;
	padding: 30px;
	background-color: rgb(2, 168, 243);
	text-align: center;
	ul {
		padding: 0px;
		list-style: none;
		li {
			display: inline-block;
			width: 150px;
			height: 150px;
			border-radius: 8px;
			margin: 6px;
			background-image: url('/images/bg.png');
			a {

			} 		
		}
	}
	.ic-about {
		background-image: url('/images/icons/facts.svg');
	}
}

///////////////////////////////////////////////////	tablet devices
@media  (min-width : 768px)  {

}

///////////////////////////////////////////////////	laptop and dekstop devices
// not required

///////////////////////////////////////////////////	dekstop devices
// not required