/////////////////////////////////////////// defaul devices mobile
.slide-home {
	box-shadow: none;
	// background-color: rgb(2, 168, 243);
	// background: -moz-linear-gradient(bottom,#f2f2f2 0,rgb(2, 168, 243) 100%);
	// background: -webkit-linear-gradient(bottom,#f2f2f2 0,rgb(2, 168, 243) 100%);
	// background: -o-linear-gradient(bottom,#f2f2f2 0,rgb(2, 168, 243) 100%);
	// background: -ms-linear-gradient(bottom,#f2f2f2 0,rgb(2, 168, 243) 100%);
	// background: linear-gradient(bottom,#f2f2f2 0,rgb(2, 168, 243) 100%);
	padding: 0px;
	border-radius: 0px;
	.home {
		padding: 20px;
		padding-left: 165px;
		padding-right: 165px;
		ul {
			margin-top: 50px;
			padding: 0px;
			list-style: none;
			li {
				display: inline-block;
				img {
					width: 70px;
				}
			}
		}
		.item {
			transition: 0.4s all;
			padding: 50px;
			overflow: hidden;
			border-radius: 6px;
			border: 3px solid rgb(2, 168, 243);
		}
		.mouse {
			margin-top: 100px;
		}
		.carousel-caption {
			padding: 50px;
			padding-left: 200px;
			padding-right: 200px;
		}
		.carousel-control {
			padding-top: 90px;
		}
	}
}
.body {
	ul {
		padding: 0px;
	}
	padding: 145px;
	padding-top: 0px;
	padding-bottom: 100px;
	&:before {
		content: '';
		width: 155px;
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		background-color: rgba(0,0,0,.1);
	}
	&:after {
		content: '';
		width: 155px;
		position: absolute;
		top: 0;
		bottom: 0;
		right: 0;
		background-color: rgba(0,0,0,.1);
	}
	.btn-portfolio {
		padding-top: 50px;
	}
}

///////////////////////////////////////////////////	tablet devices
@media  (min-width : 768px)  {

}

///////////////////////////////////////////////////	laptop and dekstop devices
// not required

///////////////////////////////////////////////////	dekstop devices
// not required