footer .footer {
  padding: 20px;
  background-color: #222;
  text-align: center;
  color: #02a8f3;
}
footer .footer p {
  color: rgba(255, 255, 255, 0.2);
  font-size: 11px;
}
footer .footer ul {
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  padding: 20px;
  list-style: none;
}
footer .footer ul li {
  display: inline-block;
  margin: 8px;
  vertical-align: middle;
}
footer .footer ul li a {
  color: #02a8f3;
  font-size: 16px;
}
footer .footer ul li a i {
  transition: 0.2s;
}
footer .footer ul li a:hover i {
  z-index: 1030;
  transform: scale(1.2);
  -webkit-transform: scale(1.2);
  -o-transform: scale(1.2);
  -moz-transform: scale(1.2);
}
footer .footer .copyright {
  padding: 0px;
}
footer .footer a {
  margin-left: 5px;
  color: #02a8f3;
}
@media (min-width: 768px) {
  footer .footer {
    padding-top: 25px;
    padding-left: 160px;
    padding-right: 160px;
  }
}
@media (min-width: 981px) {
  
}
