.state-active {
  padding: 10px;
}
.state-active .freebie-object {
  padding: 0px;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  transition: 0.3s;
}
.state-active .freebie-object .freebie-image {
  padding: 0px;
  width: 100%;
  border-radius: 4px;
  display: block;
  overflow: hidden;
  position: relative;
}
.state-active .freebie-object .freebie-image .freebie-preview {
  width: 100%;
}
.state-active .freebie-object .freebie-image .media-object {
  display: block;
}
.state-active .freebie-object .freebie-image img {
  vertical-align: middle;
  border: 0;
}
.state-active .freebie-object .freebie-body {
  border-radius: 4px;
  transition: 0.3s;
  background-color: #fff;
  position: absolute;
  display: block;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  padding: 30px;
  padding-top: 20px;
  opacity: 0;
}
.state-active .freebie-object .freebie-body h4 {
  color: #02a8f3;
  font-size: 14px;
}
.state-active .freebie-object .freebie-body h4 a:hover {
  color: #02a8f3 !important;
}
.state-active .freebie-object .freebie-body p {
  color: #848484;
  font-size: 12px;
}
.state-active .freebie-object .freebie-body .freebie-actions {
  position: absolute;
  bottom: 20px;
  left: 20px;
  font-size: 11px;
  color: #aaa;
}
.state-active .freebie-object .freebie-body .freebie-actions:first-child {
  margin-right: 0;
}
.state-active .freebie-object .freebie-body .freebie-actions svg:not(:root) {
  overflow: hidden;
}
.state-active .freebie-object .freebie-body .freebie-actions .pxlton {
  margin-left: 10px;
  width: 15px;
  fill: #02a8f3;
}
.state-active .freebie-object:hover {
  box-shadow: 0 4px 20px 0 rgba(168, 182, 191, 0.6);
}
.state-active .freebie-object:hover .freebie-body {
  opacity: 1;
}
