// ///////////////////	color style
// @color-default: rgb(2, 168, 243);
// // @color-default: rgb(2, 168, 243);

// @color-default-rgba: rgba(2, 168, 243, .1);
// // @color-default-rgba: rgba(2, 168, 243, .1);

// @color-default-rgba-2: rgba(2, 168, 243, .6);
// // @color-default-rgba: rgba(2, 168, 243, .6);


// @color-1: rgb(64, 227, 224);
// @color-2: rgb(15, 226, 184);
// @color-3: rgb(48, 213, 200);
// @color-4: #ffca45;
// @color-5: #f938ab;
// @color-6: #ff3366;
// @color-7: rgb(167, 252, 0);
// @color-8: rgb(127, 255, 0);
// @color-9: rgb(124, 77, 255);


.inline-icon .pxlton,
.inline-icon span {
  display: inline-block;
  vertical-align: middle;
}
.dop-text {
  padding: 70px;
  padding-bottom: 90px;
  padding-right: 200px;
  padding-left: 200px;
  text-align: center;
}
.dop-text p {
  padding-bottom: 20px;
}
.btn {
  transition: 0.2s;
  text-align: center;
  font-size: 14px;
  font-weight: bold;
  border-radius: 4px;
  padding: 12px 30px;
  min-width: 100px;
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
}
.btn:hover {
  box-shadow: none !important;
  cursor: pointer;
}
.btn-white {
  transition: 0.2s;
  text-align: center;
  font-size: 14px;
  font-weight: bold;
  border-radius: 4px;
  padding: 12px 30px;
  min-width: 100px;
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
  color: #02a8f3;
}
.btn-white:hover {
  box-shadow: none !important;
  cursor: pointer;
}
.btn-blue {
  transition: 0.2s;
  text-align: center;
  font-size: 14px;
  font-weight: bold;
  border-radius: 4px;
  padding: 12px 30px;
  min-width: 100px;
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
  background: #02a8f3;
  color: #fff;
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}
.btn-blue:hover {
  box-shadow: none !important;
  cursor: pointer;
}
.btn-black {
  transition: 0.2s;
  text-align: center;
  font-size: 14px;
  font-weight: bold;
  border-radius: 4px;
  padding: 12px 30px;
  min-width: 100px;
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
  background-color: #000;
  color: #02a8f3;
}
.btn-black:hover {
  box-shadow: none !important;
  cursor: pointer;
}
.btn-grey {
  transition: 0.2s;
  text-align: center;
  font-size: 14px;
  font-weight: bold;
  border-radius: 4px;
  padding: 12px 30px;
  min-width: 100px;
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
  background-color: #393e46;
  color: #02a8f3;
}
.btn-grey:hover {
  box-shadow: none !important;
  cursor: pointer;
}
.btn-border-white {
  transition: 0.2s;
  text-align: center;
  font-size: 14px;
  font-weight: bold;
  border-radius: 4px;
  padding: 12px 30px;
  min-width: 100px;
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
  color: #fff;
  padding: 10px 30px;
  border: 2px solid #fff;
}
.btn-border-white:hover {
  box-shadow: none !important;
  cursor: pointer;
}
.btn-border-black {
  transition: 0.2s;
  text-align: center;
  font-size: 14px;
  font-weight: bold;
  border-radius: 4px;
  padding: 12px 30px;
  min-width: 100px;
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
  color: #fff;
  padding: 10px 30px;
  border: 2px solid #fff;
  border-color: #000;
  color: #000;
}
.btn-border-black:hover {
  box-shadow: none !important;
  cursor: pointer;
}
.btn-border-grey {
  transition: 0.2s;
  text-align: center;
  font-size: 14px;
  font-weight: bold;
  border-radius: 4px;
  padding: 12px 30px;
  min-width: 100px;
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
  color: #fff;
  padding: 10px 30px;
  border: 2px solid #fff;
  border-color: #393e46;
  color: #393e46;
}
.btn-border-grey:hover {
  box-shadow: none !important;
  cursor: pointer;
}
.btn-border-blue {
  transition: 0.2s;
  text-align: center;
  font-size: 14px;
  font-weight: bold;
  border-radius: 4px;
  padding: 12px 30px;
  min-width: 100px;
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
  color: #fff;
  padding: 10px 30px;
  border: 2px solid #fff;
  border-color: #02a8f3;
  color: #02a8f3;
}
.btn-border-blue:hover {
  box-shadow: none !important;
  cursor: pointer;
}
.block {
  padding: 0px;
}
@media (min-width: 768px) {
  .block:before {
    content: '';
    width: 155px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.1);
  }
  .block:after {
    content: '';
    width: 155px;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.1);
  }
}
@media (min-width: 981px) {
  
}
.card {
  width: 98%;
  left: 50%;
  margin-left: -49%;
  margin-top: 70px;
  margin-bottom: 10px;
  background-color: #fff;
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
  border-radius: 6px;
  padding: 30px;
}
@media (min-width: 768px) {
  
}
@media (min-width: 981px) {
  .card {
    width: 76%;
    margin-left: -38%;
  }
}
.carousel,
.item,
.active {
  height: 100%;
}
.Slide {
  padding: 0px;
  display: block;
}
.Slide .carousel-inner {
  padding: 0px;
  width: 100%;
}
.Slide .carousel-inner .carousel-caption {
  width: 100%;
}
.carousel-control {
  position: absolute;
  width: 155px;
  z-index: 1;
}
.carousel-control.right {
  right: 0;
  bottom: 0;
}
.carousel-control.right img {
  width: 20%;
}
.carousel-control.left {
  left: 0;
  bottom: 0;
}
.carousel-control.left img {
  width: 20%;
}
@media (min-width: 768px) {
  .carousel-control.right {
    top: 0;
  }
  .carousel-control.right img {
    width: 20%;
  }
  .carousel-control.left {
    top: 0;
  }
  .carousel-control.left img {
    width: 20%;
  }
}
