.portfolio {
  padding-top: 50px;
  padding-bottom: 10px;
}
.portfolio ul {
  padding: 0px;
  list-style: none;
}
.portfolio .carousel-control {
  padding-top: 300px;
}
@media (min-width: 768px) {
  .portfolio {
    padding-top: 50px;
    padding-left: 145px;
    padding-right: 145px;
    padding-bottom: 50px;
  }
  .portfolio ul {
    padding: 0px;
    list-style: none;
  }
  .portfolio .carousel-control {
    padding-top: 300px;
  }
}
@media (min-width: 981px) {
  
}
